.user-dash-style{
    width: 100vw;
    
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(135deg, #ffffff 0%, #F4EFE4 80%);
    
}
.user-dash-body{
    margin-top: 15vh;
    width: 100vw;
    padding-bottom: 5vh;
    padding-top: 5vh;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
    
    
   
}
.user-dash-sidebar{
    width: 350px;
    height: 350px;
   
    
}
.user-dash-sidebar svg{
            width: 350px;
            height: 350px;
 }

.user-dash-content{
    border: 1px solid white;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.089);
    width: 65vw;
    height: 75vh;
    padding: 30px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: scroll;

}
.order-style-wrap{
    border-bottom: 1px solid black;
}

.user-infor{
    
    width: 60vw;
    display: flex;
    padding: 10px;
    
}
.user-infor-side{
    width: 100vw;

}
.user-infor-right{
   
    width: 30vw;
}
.user-order-wrap{
    
    width: 60vw;
    display: flex;
    justify-content: center;
}
.user-order{
    
    display: flex;
    flex-direction: column;
    
    width: 50vw;
}
.user-order-top{
    display: flex;
    justify-content: space-between;
}


#hand-move{
    animation: handMove 1s ease-in infinite alternate;
    transform-origin:  top;
}
#trolly-move{
    animation: trollyMove 1s ease-in infinite alternate;
    transform-origin:  top;
}

@keyframes handMove {
    from{
        transform: rotate(-5deg)
    }to{
        transform: rotateX(15deg);
    }

}
@keyframes trollyMove {
    from{
        transform: rotateX(10deg)
    }to{
        transform: rotateY(-15deg)
    }
}

@media screen and (max-width: 500px) {
    .user-dash-style{
        width: 100vw;
        display: flex;
        align-items: flex-end;
        background-image: linear-gradient(135deg, #ffffff 0%, #F4EFE4 80%);
       
    }
    .user-dash-body{
        width: 100vw;
        
        padding-top: 20vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
       
    }
    .user-dash-sidebar svg{
       position: relative;
       bottom:0;
        
}
}