.tien-order-list-style{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(135deg, #ffffff 0%, #F4EFE4 80%);
}
.order-body{
    height: 85vh;
    width: 100%;
    display: flex;
    
    align-items: flex-end;
}

.order-content{
    width: 100vw;
    height: 85vh;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    padding: 10px;

}
.tien-order-style{
    width:80%;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.admin-order-up{
    display: flex;
    justify-content: space-between;
    
}
.admin-order-up-bot{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.order-detail-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn-outline-info{
    border-radius: 50px !important;
    width:50px !important;
   
}