.tien-nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    
    width:100vw;
    z-index: 10;
    padding-top:0;
    padding-bottom:0;
    padding-left:15px !important;
    padding-right: 15px;
    
    
}
.navbar{
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.tien-nav-links {
   display: flex;
   flex-wrap: wrap;
   
   align-items: center;
  
}
.chepLogo{
    height:60px;
    cursor: pointer;
   
}
a{
    color:black;
}
@media screen and (max-width: 500px){
    .tien-nav-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100vw;
        z-index: 10;
        
    }
    
}