.about-page-style{
  position: absolute;
  background-image: linear-gradient(135deg, #ffffff 0%, #F4EFE4 80%);
   width: 100vw;
  }
.about-wrap{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: center;
margin-top: 10vh;

  }

.about-page-content{
 
  width:50vw;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  justify-content: flex-end;
  padding-top: 24vh;
  padding-bottom: 200px;
  margin-left: 5vw;
  
  
}
.chep-map{
  border: 1px solid red;
  width: 400px;
  height: 400px;
  cursor: pointer;
  margin-left:10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 500px){
  .about-page-content{
    width:80vw;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    justify-content: flex-end;
    padding: 30px;
    padding-bottom: 30px;
    
  }

}
