.about-page-style{
    border: 1px solid red;
    background-image: linear-gradient(135deg, #ffffff 0%, #F4EFE4 80%);
    
   
  }
.about-wrap{
display: flex;
/* justify-content: space-around; */
align-items: center;
margin-top: 28vh;
flex-wrap: wrap;
border: 1px solid red;
justify-content: space-around;
  }

.about-page-content{
  border: 1px solid red;
  width:55vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  
}
.chep-map{
  border: 1px solid red;
  width: 400px;
  height: 400px;
  cursor: pointer;
  
  margin-top: 15px;
}

