.tien-add-cart-style{
    width: 100vw;
    
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    background-image: linear-gradient(135deg, #ffffff 0%, #F4EFE4 80%);

}
.add-cart-body{
    width: 100vw;
   margin-top: 15vh;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}
.add-cart-sidebar{
    margin-top: 10vh;
    width: 350px;
    height: 350px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   padding-bottom: 10vh;
  
}
.quantity-bg img{
    width: 350px;
    height: 350px; 
}
.add-cart-content{
    
    width: 60vw;
    height: 85vh;
   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.cart-products-list{
  
   padding: 15px;
    width: 60vw;
    height: 50vh;
    display: flex;
    overflow: scroll;
    flex-direction: column;

}
.cart-products-send{
   
    width: 60vw;
    height: 10vh;
    display: flex;
    align-items: flex-end;

}
.cart-send-style svg{
    width: 70px;
    height: 70px;
    cursor: pointer;
}


.disabled-link {
    pointer-events: none;
  }