.choosen-item-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.add-item-quantity svg{
    width:3vw;
    cursor: pointer;
}
.remove-item-quantity svg{
    width:3vw;
    cursor: pointer;
}

.confirm-remove-product{
    border: 1px solid red;
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}