.tien-combo-style{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    

}

.tien-combo-style img{
    height: 100vh;
    

}
.tien-combo-style .tien-combo-body{
    
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.combo-sidebar{
    
    height: 85vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sidebar-trolly{
   width: 30vw;
    
}


.combo-content{
    
    height: 85vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin-right:2vw;
}
.combo-content-title{
    display: flex;
    justify-content: center;
    height: 10vh;
}
.combo-content-bot{
    display: flex;
    height: 75vh;
}
.tien-box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow:  10px 10px 20px #b0b0b0, 
             -5px -5px 20px #F4EFE4;
    line-height: 0;
    border-radius: 40px;
  }
  
  .tien-box  > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
    opacity: 0.6;
  }
  
  .tien-box > span {
    font-size: 1.2rem;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
    color: black;
    
  }
  a{
    /* text-decoration: none !important; */
    color: black !important;
  }
  
  .tien-box:hover { 
      flex: 1 1 50%;
      
 }
  .tien-box:hover  > img {
    width: 100%;
    height: 100%;
    opacity: 1;
    
  }
   





#hand-move{
    animation: handMove 1s ease-in infinite alternate;
    transform-origin:  top;
}
#trolly-move{
    animation: trollyMove 1.5s ease-in infinite alternate;
    transform-origin:  top;
}

@keyframes handMove {
    from{
        transform: rotate(-5deg)
    }to{
        transform: rotateX(10deg);
    }

}
@keyframes trollyMove {
    from{
        transform: rotateX(10deg)
    }to{
        transform: rotateY(-15deg)
    }
}