.footer-style{
    width: 100vw;
    height: 60vh;
    
    display: flex;
    
}
.footer-img-bg{
    position: absolute;
    z-index: 0;
    
}
.footer-chat{
    
    z-index:100;
    width: 100vw;
    
    display: flex;
    justify-content: center;
}
.footer-chat-img svg{
    width: 20vw;

}

@media screen and (max-width: 400px){

    .footer-style{
        width: 100vw;
        height: 100vh;
        
        display: flex;
        
    }
    .footer-img-bg{
        position: absolute;
        top:420vh;
        z-index: 0;
        width:100vw;
        
        
    }
    .footer-chat{
        
        z-index:100;
        width: 100vw;
        
        display: flex;
        justify-content: center;
    }
    .footer-chat-img svg{
        width: 90vw;
        
    }
    
}
