.footer-style{
    width: 100vw;
    height: 50vh;
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.footer-img-bg img{
    width: 100vw;
      
}

.footer-chat{
    width: 300px;
}

#chat-left {
    animation: shakeLeft ease infinite alternate;
    transform-origin: bottom;
    background-color: red;
}
@keyframes shakeLeft {
    from{
transform: rotateX(20deg);
    }to{
transform: rotateX(45deg);
    }
}

@media screen and (max-width: 500px){
    .footer-img-bg img{
        
        width: 100vw;
        height: 40vh;
    }
    
}
