.footer-style{
    width: 100vw;
    height: 80vh;
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.footer-img-bg img{
    
    width: 100vw;
      
}

.footer-chat{
    
    width: 300px;
}


@media screen and (max-width: 500px){
    .footer-img-bg img{
        
        width: 100vw;
        height: 40vh;
    }
    
}
