.tien-product-style{
    margin-left: 3vw;
    margin-right: 3vw;
    padding-left: 7px;
    padding-right: 7px;
    padding-top:7px;
    padding-bottom: 7px;
    border-radius: 40px;
    height: 350px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow:  10px 10px 20px #b0b0b0, 
             -5px -5px 20px #F4EFE4;
}

.empty-tien-product-style{
    
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-radius: 40px;
    height: 350px;
}

.tien-product-pic{
    margin-top: 15px;
    height:200px;
    cursor: pointer;
   
}

.tien-product-info{
    /* */
    display: flex;
    justify-content: space-between ;
    flex-direction: row;
    background-color: #5E9194;
    border-radius: 32px;
    /* line-height: 5px; */
    height: 100px;
    width: 200px;
    
}

.tien-product-info-left {
    margin-left: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:10px;
    line-height: none;
    
}

.tien-product-info-bnt{
   
    margin-right: 10px !important;
    display: flex;
    align-self: flex-end;
    margin-bottom: 10px;
   

}
.tien-bnt-order{
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px;
background-color: #E8BA6B;
border: none;

             
}

/* for phone */
@media screen and (max-width: 500px){
    .tien-product-style{
        margin-top: 3vh;
        margin-bottom: 3vh;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 7px;
        padding-bottom: 6px;
        border-radius: 40px;
        height: 350px;
        width: 220px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background-color: #ffffff;
        box-shadow:  10px 10px 20px #b0b0b0, 
                 -5px -5px 20px #F4EFE4;
    } 
    .tien-product-info{
        /* */
        display: flex;
        justify-content: space-between ;
        flex-direction: row;
        background-color: #5E9194;
        border-radius: 32px;
        line-height: 10px;
        height: 110px;
        width:208px;
    }

    .tien-product-pic{
        margin-top: 10px;
        height:200px;
       
    }

}