.tien-product-style{
    margin-left: 3vw;
    margin-right: 3vw;
    padding-left: 7px;
    padding-right: 7px;
    padding-top:7px;
    padding-bottom: 7px;
    border-radius: 40px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow:  10px 10px 20px #b0b0b0, 
             -5px -5px 20px #F4EFE4;
}

.empty-tien-product-style{
    /* margin-left: 3vw;
    margin-right: 3vw; */
    
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-radius: 40px;
    height: 50vh;
}

.tien-product-pic{
    
    height:32vh;
   
}

.tien-product-info{
    /* */
    display: flex;
    justify-content: space-between ;
    flex-direction: row;
    background-color: #5E9194;
    border-radius: 32px;
    line-height: 10px;
    height: 15vh;
    width: 17vw;
    

}

.tien-product-info-left {
   
    margin-left: 20px;
    /* width: 12vw !important; */
    color: white;
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    padding-top:20px;
    /* */
    
}

.tien-product-info-bnt{
   
    margin-right: 10px !important;
    display: flex;
    align-self: flex-end;
    margin-bottom: 10px;
   

}
.tien-bnt-order{
    border-radius: 50% !important;
    width: 3vw !important;
    height: 5vh;
background-color: #E8BA6B;
border: none;

             
}

/* for phone */
@media screen and (max-width: 400px){

    .tien-product-style{
       width: 60vw;
       /* height: 80vh; */
        margin: 10vw;
        padding: 5vh;
        display: flex;
        justify-content: space-around;
        box-shadow:  20px 20px 30px #b0b0b0, 
                 -5px -5px 20px #F4EFE4;
    
    }
    .tien-product-pic{

        width: 35vw;
       
    }

.tien-product-info{
   
    display: flex;
    justify-content: space-between ;
    flex-direction: row;
    background-color: #5E9194;
    border-radius: 32px;
    line-height: 10px;
    width: 55vw;
    

}

}