.tien-add-product-style{
    width: 100vw;
    background-image: linear-gradient(135deg, #ffffff 0%, #F4EFE4 80%);
}
.tien-add-body{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.tien-add-sidebar img{
    width:500px;
    height:300px;
    /* border:1px solid red; */
}

.tien-add-content{
    width: 60vw;
    
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tien-edit-form-input{
    margin-left:0 !important;
}
.tien-edit-form-input .form-group{
margin-bottom:0 !important;
}
.form-control-plaintext{
    height:25px;
    display: flex;
    justify-content: flex-end;
    padding: 0 !important;
}
.tien-checkbox-type{
    display: flex;
    justify-content: space-around;
}
.add-img-wrap{
    width: 100%;
    
    display: flex;
    justify-content: flex-end;
}
.tien-add-img{
    cursor: pointer;

}
.tien-btn-wrap{
    margin-top: 5vh;
    width: 30vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.del-btn{
    display:flex;
    align-items: center;
    padding-top: 15px;
}
