
.green{
    background-color: #5E9194;
}
.light-green{
    background-color: #C2D1CE;
}
.yellow{
    background-color: #F4EFE4;
}

.tien-products-background{
    
}
.tien-products-background img{
    
    
}

.tien-display-layer{
    
}
.tien-products-list{
    /* ; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 71vw;
    
    
    
    
   
   position: absolute;
   z-index: 2;
   flex-direction: row;
    overflow: scroll;
    
}
::-webkit-scrollbar {
    display: none;
}

.tien-products-list-layer{
    height: 65vh;
    padding-bottom: 5vh;
    width: 30vw;
    position: relative;
   z-index: 2;
   background-image: linear-gradient(to left, rgb(255, 255, 255)20px, rgba(0,0,0,0));
   display: flex;
   align-items: center;
   margin-left: 41vw;
   border-radius: 40px;
   pointer-events: none;
   
}
.tien-hompage-icon{
    display: flex;
    justify-content: space-around;
   align-items: center;
    position: absolute;
    z-index: 10;
    /* ; */
    
    width: 77vw;
    margin-top: 15vh;
}
.scroll-down-combo{
    display: flex;
    cursor: pointer;
}

.tien-home-bg{
    display: flex;
    align-items: center;
}
.tien-yoga-img svg{
    width: 30vw ;
    position: relative;
    z-index: 5;
    /* ; */
    margin-left: 9vw;
    
}
.yoga-wrapper {
position: absolute;
right: 1vw;
}

#circle {
animation: move 1s ease-in-out infinite alternate;
transform-origin: bottom;

}
#leave-ground{
    animation: leaveMove 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}


#body, #hand {
animation: body 3s ease-in infinite alternate;
transform-origin:  top;
}

#sort-tool{
    animation: leaveMove 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    width: 5vw;
    }

@keyframes body{
    from{
transform: rotateY(-15deg);
    }to{
transform: rotateY(360deg)
    }
}



@keyframes move{
    from{
transform: rotateX(0deg)
    }to{
    transform: rotateX(30deg)
    }
}


@keyframes leaveMove{
    from{
transform: rotateX(0deg)
    }to{
    transform: rotateX(50deg)
    }
}

