.green {
    background-color: #5E9194;
}

.light-green {
    background-color: #C2D1CE;
}

.yellow {
    background-color: #F4EFE4;
}

.homepage-style {
    display: flex;
    flex-wrap: wrap;
}

.homepage-background img {
    height: 100vh;
    z-index: 0;
}

.tien-hompage-icon {
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10vh;
    width: 100vw;
    position: absolute;
    align-items: center;
    margin-top: 15vh;
}

.scroll-down-combo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10vw;
}

.tien-products-list {
    position: absolute;
    height: 60vh;
    width: 75vw;
    bottom: 50px;
    left: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    overflow: scroll;
}

.tien-products-list-layer {
    height: 60vh;
    width: 50vw;
    margin-left: 35vw;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1)30px, rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

::-webkit-scrollbar {
    display: none;
}

.tien-yoga-img svg {
    position: absolute;
    width: 300px;
    right: 2vw;
    top: 20vh;
    z-index: 3;
}
.home-break-line{
   
    width: 100vw;
    display: flex;
    justify-content: center;
}

#circle {
    animation: move 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

#leave-ground {
    animation: leaveMove 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

#body,
#hand {
    animation: body 3s ease-in infinite alternate;
    transform-origin: top;
}

#sort-tool {
    animation: leaveMove 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    width: 5vw;
}

@keyframes body {
    from {
        transform: rotateY(-15deg);
    }
    to {
        transform: rotateY(360deg)
    }
}

@keyframes move {
    from {
        transform: rotateX(0deg)
    }
    to {
        transform: rotateX(30deg)
    }
}

@keyframes leaveMove {
    from {
        transform: rotateX(0deg)
    }
    to {
        transform: rotateX(50deg)
    }
}

@media screen and (max-width: 500px) {
    .homepage-background img {
        width: 100vw;
    }
    .tien-products-list {
        position: absolute;
        height: 65vh;
        width: 100vw;
        bottom: 50px;
        left: 0;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
    }
    .tien-products-list-layer {
        /* display: none; */
        height: 20vh;
        width: 50vw;
        margin-top: 20vh;
        margin-left: 25vw;
        background-image: linear-gradient(to top, #e8dbd2e0, rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 50px;
        left: 0;
        z-index: 1;
        pointer-events: none;
       
    }
    .tien-yoga-img svg {
        position: absolute;
        width: 230px;
        left: 0;
        margin-top: 40vh;
        z-index: 3;
        pointer-events: none;
    }
}