*{
    margin:0;
    padding:0;
}
.tien-display{
    display: block;

}
.tien-display-none{
    display: none;
    
}

/* MEDIA QUERIES */
/* FOR HALF */
@media screen and (max-width: 700px){


}
/* FOR MOBILE */
@media screen and (max-width: 400px){

    
}