*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Special Elite', cursive;
}


/* MEDIA QUERIES */
/* FOR HALF */
@media screen and (max-width: 700px){


}
/* FOR MOBILE */
@media screen and (max-width: 400px){

    
}

.alert-style {
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 10000;
}